<!-- views/partials/_navbar.ejs -->

<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <div class="sidebar-brand-wrapper d-none d-lg-flex align-items-center justify-content-center fixed-top">
    <a class="sidebar-brand brand-logo" href="/"><img src="assets/images/hashicorp_logo.png" alt="logo" /></a>
    <a class="sidebar-brand brand-logo-mini" href="/"><img src="assets/images/hashicorp_logo_mini.png" alt="logo" /></a>
  </div>
  <ul class="nav">
    <li class="nav-item nav-category">
      <span class="nav-link">Navigation</span>
    </li>
    <li class="nav-item menu-items">
      <a class="nav-link" href="/dashboard">
        <span class="menu-icon">
          <i class="mdi mdi-speedometer"></i>
        </span>
        <span class="menu-title">Dashboard</span>
      </a>
    </li>
    <li class="nav-item menu-items">
      <a class="nav-link" href="/about">
        <span class="menu-icon">
          <i class="mdi mdi-file-document-box"></i>
        </span>
        <span class="menu-title">About</span>
      </a>
    </li>
    <li class="nav-item menu-items">
      <a class="nav-link" href="/terraform">
        <span class="menu-icon">
          <i class="mdi mdi-playlist-play"></i>
        </span>
        <span class="menu-title">Terraform</span>
      </a>
    </li>
    <li class="nav-item menu-items">
      <a class="nav-link" href="/consul">
        <span class="menu-icon">
          <i class="mdi mdi-table-large"></i>
        </span>
        <span class="menu-title">Consul</span>
      </a>
    </li>
    <li class="nav-item menu-items">
      <a class="nav-link" href="/vault">
        <span class="menu-icon">
          <i class="mdi mdi-chart-bar"></i>
        </span>
        <span class="menu-title">Vault</span>
      </a>
    </li>
    <li class="nav-item menu-items">
      <a class="nav-link" href="/nomad">
        <span class="menu-icon">
          <i class="mdi mdi-contacts"></i>
        </span>
        <span class="menu-title">Nomad</span>
      </a>
    </li>
    
  </ul>
</nav>
