<!-- views/partials/nav.ejs -->

<nav class="navbar navbar-expand-sm navbar-light bg-light mb-3">
  <div class="container">
    <div class="navbar-brand">H.C.W.P.</div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
        <li class="nav-item"><a href="/about" class="nav-link">About</a></li>
        <li class="nav-item"><a href="/terraform" class="nav-link">Terrafrom</a></li>
        <li class="nav-item"><a href="/consul" class="nav-link">Consul</a></li>
        <li class="nav-item"><a href="/vault" class="nav-link">Vault</a></li>
        <li class="nav-item"><a href="/nomad" class="nav-link">Nomad</a></li>
      </ul>
    </div>
  </div>
</nav>
