<!-- views/home/about.ejs -->

<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
  </head>
  <script>

    // ajax 호출을 통해 home.js에서 Bash 명령어로 hashicorp API를 호출한다.
    function ajaxCallBtn(api_flag){
    //function aajaxCallBtn(url, data){ 추후 인자값 넘기는 함수로 변경
      // url 및 전송 parameter
      var url = "/ajax_call_api";
      var data = {'api_flag' : api_flag}; // {'email' : data}
      data = JSON.stringify(data);

      // request 셋팅
      var xhr = new XMLHttpRequest();
      xhr.open('POST',url);
      xhr.setRequestHeader('Content-Type', "application/json");
      xhr.send(data);

      // ajax 호출 리턴 후
      xhr.addEventListener('load', function(){

        var result = JSON.parse(xhr.responseText);
        var strResult = "";
        console.log("result:"+JSON.stringify(result));

        if(result != null){

          if(api_flag=='cslSrvcSttsInfo'){
            // 서비스상태조회_1
            strResult += "Name : "+JSON.stringify(result.rData[0].Name)+"<br>";
            strResult += "Status : "+JSON.stringify(result.rData[0].Status)+"<br>";
            strResult += "Notes : "+JSON.stringify(result.rData[0].Notes)+"<br>";
            strResult += "Output : "+JSON.stringify(result.rData[0].Output)+"<br>";

          } else if(api_flag=='cslSrvcSttsInfo_2nd'){
            // 서비스상태조회_2
            for(var i=0;i<result.rData.length;i++){
              strResult += "Node : "+JSON.stringify(result.rData[i].Node)+"<br>";
              strResult += "Status : "+JSON.stringify(result.rData[i].Status)+"<br>";
              strResult += "Notes : "+JSON.stringify(result.rData[0].Notes)+"<br>";
              strResult += "Output : "+JSON.stringify(result.rData[0].Output)+"<br><br>";
            }

          } else if (api_flag=='cslSrvcNmInfo'){
            // 서비스이름조회
            strResult += "consul ID : "+JSON.stringify(result.rData.Services.consul.ID)+"<br>";
            strResult += "consul Service : "+JSON.stringify(result.rData.Services.consul.Service)+"<br>";
          } else {

            document.querySelector("#showResult").innerHTML = "";
            document.querySelector("#showResult").innerHTML = JSON.stringify(result.rData);
          }

          document.querySelector("#showResult").innerHTML = strResult;

        } else {
          alert("API CALL FAIL..");
        }
      });
    }
  </script>
  <body>
    <%- include('../partials/nav') %>
    <div class="container mb-3">
      <h2 class="mb-3">Consul</h2>
      <p><%= ip_addr %></p>
      <P>Consul의 API</p>
      <input type="button" id="cslSrvcSttsInfo" onclick="ajaxCallBtn('cslSrvcSttsInfo')" width="100px" value="서비스상태조회_1" />
      <input type="button" id="cslSrvcSttsInfo" onclick="ajaxCallBtn('cslSrvcSttsInfo_2nd')" width="100px" value="서비스상태조회_2" />
      <input type="button" id="cslSrvcNmInfo" onclick="ajaxCallBtn('cslSrvcNmInfo')" width="100px" value="서비스이름조회" />
      <br>
      <div id="showResult"></div>
    </div>
  </body>
</html>
