<!-- views/home/about.ejs -->

<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
  </head>
  <script>

    // ajax 호출을 통해 home.js에서 Bash 명령어로 hashicorp API를 호출한다.
    function ajaxCallBtn(api_flag){
    //function aajaxCallBtn(url, data){ 추후 인자값 넘기는 함수로 변경
      // url 및 전송 parameter
      var url = "http://127.0.0.1:3000/ajax_call_api";
      var data = {'api_flag' : api_flag}; // {'email' : data}
      data = JSON.stringify(data);

      // request 셋팅
      var xhr = new XMLHttpRequest();
      xhr.open('POST',url);
      xhr.setRequestHeader('Content-Type', "application/json");
      xhr.send(data);

      // ajax 호출 리턴 후
      xhr.addEventListener('load', function(){

        var result = JSON.parse(xhr.responseText);
        var strResult = "";
        console.log("result:"+JSON.stringify(result));

        if(result != null){ // 이거 수정해야함 result.rData 체크하는 걸로 -> home.js에서는 리턴값이 있을 때만 넘기는걸로

          if(api_flag=='nmdAgtSvrPtchInfo'){
            // 서버패치조회
            strResult += "driver.docker.os_type : "+JSON.stringify(result.rData.Attributes["driver.docker.os_type"])+"<br>";
            strResult += "os.name : "+JSON.stringify(result.rData.Attributes["os.name"])+"<br>";
            strResult += "os.version : "+JSON.stringify(result.rData.Attributes["os.version"])+"<br>";

          } else if(api_flag=='nmdJobNmInfo'){
            // 잡네임
            strResult += "Region : "+JSON.stringify(result.rData.Region)+"<br>";
            strResult += "Namespace : "+JSON.stringify(result.rData.Namespace)+"<br>";
            strResult += "ID : "+JSON.stringify(result.rData.ID)+"<br>";
            strResult += "ParentID : "+JSON.stringify(result.rData.ParentID)+"<br>";
            strResult += "Name : "+JSON.stringify(result.rData.Name)+"<br>";
            strResult += "Type : "+JSON.stringify(result.rData.Type)+"<br>";

          } else {

            document.querySelector("#showResult").innerHTML = "";
            document.querySelector("#showResult").innerHTML = JSON.stringify(result.rData);
          }

          document.querySelector("#showResult").innerHTML = strResult;

        } else {
          alert("API CALL FAIL..");
        }
      });
    }
  </script>
  <body>
    <%- include('../partials/nav') %>
    <div class="container mb-3">
      <h2 class="mb-3">Nomad</h2>
      <P>Nomad의 API</p>
      <input type="button" id="nmdAgtSvrPtchInfo" onclick="ajaxCallBtn('nmdAgtSvrPtchInfo')" width="100px" value="서버패치정보" />
      <input type="button" id="nmdJobNmInfo" onclick="ajaxCallBtn('nmdJobNmInfo')" width="100px" value="잡네임" />
      <div id="showResult"></div>
    </div>
  </body>
</html>
