<!-- views/home/about.ejs -->

<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
  </head>
  <script>

    // ajax 호출을 통해 home.js에서 Bash 명령어로 hashicorp API를 호출한다.
    function ajaxCallBtn(api_flag){
    //function aajaxCallBtn(url, data){ 추후 인자값 넘기는 함수로 변경
      // url 및 전송 parameter
      var url = "/ajax_call_api";
      var data = {'api_flag' : api_flag}; // {'email' : data}
      data = JSON.stringify(data);

      // request 셋팅
      var xhr = new XMLHttpRequest();
      xhr.open('POST',url);
      xhr.setRequestHeader('Content-Type', "application/json");
      xhr.send(data);

      // ajax 호출 리턴 후
      xhr.addEventListener('load', function(){

        var result = JSON.parse(xhr.responseText);
        var strResult = "";
        console.log("result:"+JSON.stringify(result));

        if(result != null){ // 이거 수정해야함 result.rData 체크하는 걸로 -> home.js에서는 리턴값이 있을 때만 넘기는걸로

          if(api_flag=='trrfrmRun'){
            // 테라폼
            //strResult += "driver.docker.os_type : "+JSON.stringify(result.rData.Attributes["driver.docker.os_type"])+"<br>";
            //strResult += "os.name : "+JSON.stringify(result.rData.Attributes["os.name"])+"<br>";

          } else if(api_flag=='trrfrmWorkspace'){
            // 워크스페이스
            strResult += "Type : "+JSON.stringify(result.rData.data[0].type)+"<br>";
            strResult += "Name : "+JSON.stringify(result.rData.data[0].attributes.name)+"<br>";
            strResult += "Organization.id : "+JSON.stringify(result.rData.data[0].relationships.organization.data.id)+"<br>";
            strResult += "Organization.type : "+JSON.stringify(result.rData.data[0].relationships.organization.data.type)+"<br>";
            strResult += "Current-run.id : "+JSON.stringify(result.rData.data[0].relationships["current-run"].data.id)+"<br>";
            strResult += "Current-run.type : "+JSON.stringify(result.rData.data[0].relationships["current-run"].data.type)+"<br>";
            strResult += "Current-run.related : "+JSON.stringify(result.rData.data[0].relationships["current-run"].links.related)+"<br>";
            strResult += "Latest-run.id : "+JSON.stringify(result.rData.data[0].relationships["latest-run"].data.id)+"<br>";
            strResult += "Latest-run.type : "+JSON.stringify(result.rData.data[0].relationships["latest-run"].data.type)+"<br>";
            strResult += "Latest-run.related : "+JSON.stringify(result.rData.data[0].relationships["latest-run"].links.related)+"<br>";

          } else {

            document.querySelector("#showResult").innerHTML = "";
            document.querySelector("#showResult").innerHTML = JSON.stringify(result.rData);
          }

          document.querySelector("#showResult").innerHTML = strResult;

        } else {
          alert("API CALL FAIL..");
        }
      });
    }
  </script>
  <body>
    <%- include('../partials/nav') %>
    <div class="container mb-3">
      <h2 class="mb-3">Terraform</h2>
      <P>Terraform의 API</p>
      <input type="button" id="trrfrmRun" onclick="ajaxCallBtn('trrfrmRun')" width="100px" value="Run" />
      <input type="button" id="trrfrmWorkspace" onclick="ajaxCallBtn('trrfrmWorkspace')" width="100px" value="워크스페이스" />
      <br>
      <div id="showResult"></div>
    </div>
  </body>
</html>
