<!-- views/home/welcome.ejs -->

<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <%- include('../partials/nav') %>
    <div class="container mb-3">
      <div class="jumbotron">
        <h1>HashiCorp Web Portal</h1>
        <h4>To Leverage APIs for Terraform, Consul, Vault and Nomad</h4>
        <P>API 기능구현을 위한 프로토타입 단계의 하시코프 웹 포탈</p>
      </div>
    </div>
  </body>
</html>
